@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  /* Tailwindのクラスをここで使ってOK */
  @apply bg-slate-950 text-slate-100;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
}

#root {
  width: 100vw;
  height: 100vh;
}
